<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="src" value="/Users/Igor/mirea/MIREA/src/" />
    <add key="pcNum" value="0" />
    <add key="ftpUrl" value="141.8.193.236" />
    <add key="ftpPort" value="21" />
    <add key="ftpLogin" value="f0847402" />
    <add key="ftpPassword" value="11223344" />
    <add key="ftpDir" value="/test/" />
  </appSettings>
</configuration>