<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="path" value="./src" />
    <add key="pcNum" value="0" />
    <add key="ftpUrl" value="test" />
    <add key="ftpPort" value="test" />
    <add key="ftpLogin" value="test" />
    <add key="ftpPassword" value="test" />
  </appSettings>
</configuration>